/* home */
@use "../abstracts/variables" as var;
@use "../base/typography" as type;
@use "../components/header";

body {
  font-family: type.$font;
  background-color: var.$bg-very-light;
}
h1{
  font-family: 'Fraunces';
	font-variation-settings: "opsz" 63, "WONK" 1, "SOFT" 67.2;
	font-weight: 741;
}

.header__desc--first{
  font-family: 'Fraunces';
  font-variation-settings: "opsz" 114, "SOFT" 28.3, "WONK" 0.377;
  font-weight: 569;
  font-style: italic;
}

.header__desc{
	font-variation-settings: "opsz" 85, "SOFT" 93.2, "WONK" 0.449;
	font-weight: 543;

}

